# ESP-IDF build artifacts
build/
sdkconfig
sdkconfig.old

# Dependencies
managed_components/

# VS Code local workspace settings
.vscode/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Logs and debug
*.log
*.map

# Flash and partition artifacts
*.bin
*.elf